<div class="flex space-x-4 mt-5">
  <div class="hidden lg:block w-56 place-content-around ml-4 md:w-56">
    <ul>
      <li>
        <a routerLink="/">All</a>
      </li>
      @for (category of category(); track category) {
      <li>
        <a routerLink="/" [queryParams]="{ category_id: category.id }">{{
          category.name
        }}</a>
      </li>
      }
    </ul>
  </div>
  <div class="grid md:grid-cols-4 sm:grid-cols-2 gap-8 w-full">
    @for (product of products(); track product) {
    <app-product [product]="product" (addToCart)="addTocart($event)" />
    }
  </div>
</div>
<!-- <app-product title="Product 2" [price]="12" img="https://picsum.photos/640/640?r=24" (addToCart)="fromChild($event)" />
    <app-product title="Product 3" [price]="12" img="https://picsum.photos/640/640?r=23" (addToCart)="fromChild($event)" />
    <app-product title="Product 4" [price]="12" img="https://picsum.photos/640/640?r=22" (addToCart)="fromChild($event)" />
    <app-product title="Product 4" [price]="12" img="https://picsum.photos/640/640?r=21" (addToCart)="fromChild($event)" /> -->

<!--  [title]="product.title"
    [price]="product.price"
    [img]="product.image" -->
