<nav>
  <div
    class="max-w-full flex flex-wrap items-center justify-between mx-auto py-4"
  >
    <div class="flex items-center space-x-8">
      <a href="https://flowbite.com/" class="flex items-center">
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="h-6 mr-3"
          alt="Flowbite Logo"
        />
        <span class="self-center text-xl font-semibold whitespace-nowrap"
          >Flowbite</span
        >
      </a>
      <ul class="flex space-x-6">
        <li>
          <a
            routerLink="/"
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block hover:underline"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="underline"
            class="block hover:underline"
            >About</a
          >
        </li>
        <li>
          <a
            routerLink="/login"
            routerLinkActive="underline"
            class="block hover:underline"
            >Login</a
          >
        </li>
      </ul>
    </div>
    <div class="flex items-center">
      <div
        id="speed-dial-menu-top-right"
        class="flex-col items-center hidden mt-4 space-y-2"
      >
        <button
          type="button"
          data-tooltip-target="tooltip-share"
          data-tooltip-placement="left"
          class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400"
        >
          <!-- aqui debo redenrizar la foto -->
          <img class="w-5 h-5 rounded-full" [src]="user()?.avatar" />
        </button>
        <div
          id="tooltip-share"
          role="tooltip"
          class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
          {{ user()?.name }}
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </div>
      <button
        type="button"
        data-tooltip-target="tooltip-copy"
        data-tooltip-placement="left"
        class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 dark:hover:text-white shadow-sm dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 18 20"
        >
          <path
            d="M5 9V4.13a2.96 2.96 0 0 0-1.293.749L.879 7.707A2.96 2.96 0 0 0 .13 9H5Zm11.066-9H9.829a2.98 2.98 0 0 0-2.122.879L7 1.584A.987.987 0 0 0 6.766 2h4.3A3.972 3.972 0 0 1 15 6v10h1.066A1.97 1.97 0 0 0 18 14V2a1.97 1.97 0 0 0-1.934-2Z"
          />
          <path
            d="M11.066 4H7v5a2 2 0 0 1-2 2H0v7a1.969 1.969 0 0 0 1.933 2h9.133A1.97 1.97 0 0 0 13 18V6a1.97 1.97 0 0 0-1.934-2Z"
          />
        </svg>
        <span (onclick)="logout()" class="sr-only">Logout</span>
      </button>
      <div
        id="tooltip-copy"
        role="tooltip"
        class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
      >
        Copy
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div>
  </div>
  <button class="relative px-4" (click)="ToogleSideMenu()">
    <div class="absolute -top-1 -left-1 rounded h-5 w-5 bg-black text-white">
      {{ cart().length }}
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
      />
    </svg>
  </button>
</nav>
<!-- translate-x-full es el class de forma dinamica que se debe ajustar -->
<div
  class="fixed border-l-4 top-0 right-0 bg-red z-40 w-72 h-screen p-4 overflow-y-auto transition-transform bg-white"
  [class.translate-x-full]="hideSideMenu()"
>
  <div class="flex flex-col justify-between items-center">
    <p class="text-xl">My Cart</p>
    <button class="p-2 border rounded relative" (click)="ToogleSideMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    @for (product of cart(); track product) {
    <div class="flex flex-col justify-between items-center space-y-2 mt-2">
      <div class="flex flex-col space-x-2 items-center">
        <img class="w-20 h-20" [src]="product.images[0]" />
        <h3 class="text-md text-center font-bold">
          {{ product.price | currency : "$" : "symbol" : "1.0" }}
        </h3>
        <h4>{{ product.title }}</h4>
      </div>
    </div>
    }
    <div>
      <p
        class="text-lg text-center font-bold bg-black text-white rounded-md px-4"
      >
        Total: {{ total() | currency : "$" : "symbol" : "1.0" }}
      </p>
    </div>
  </div>
</div>
