<nav>
  <div
    class="relative max-w-full md:flex-wrap items-center justify-between mx-auto py-4 md:flex sm:flex-col sm:space-y-4"
  >
    <div class="flex items-center space-x-8">
      <a href="https://flowbite.com/" class="flex items-center">
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="h-6 mr-3"
          alt="Flowbite Logo"
        />
        <span class="self-center text-xl font-semibold whitespace-nowrap"
          >Flowbite</span
        >
      </a>
      <ul class="flex space-x-2 lg:space-x-6">
        <li>
          <a
            routerLink="/"
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block hover:underline"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="underline"
            class="block hover:underline"
            >About</a
          >
        </li>
        <!--  si existe usuario no muestre el login pero si debe mostrar el profile y el botón con las opciones -->
        <li *ngIf="!user()">
          <a
            routerLink="/login"
            routerLinkActive="underline"
            class="block hover:underline"
            >Login</a
          >
        </li>
        <li *ngIf="user()">
          <a
            routerLink="/profile"
            routerLinkActive="underline"
            class="block hover:underline"
            >Profile</a
          >
        </li>
      </ul>
      <div
        class="flex flex-col items-center top-0.5 right-2/4 md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse my-4"
      >
        <button
          *ngIf="user()"
          type="button"
          class="flex align-center mr-4 bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
          id="user-menu-button"
          aria-expanded="false"
          data-dropdown-toggle="user-dropdown"
          data-dropdown-placement="bottom"
        >
          <span class="sr-only">Open user menu</span>
          <img
            (click)="ToggleUserMenu()"
            class="w-10 h-full rounded-full"
            src="{{ user()?.avatar }}"
            alt="user photo"
          />
        </button>
        <!-- Dropdown menu -->
        <div
          [class.hidden]="hideUserMenu()"
          class="absolute z-50 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
          style="margin-top: 2.5rem"
          id="user-dropdown"
        >
          <div class="relative px-4 py-3">
            <span class="block text-sm text-gray-900 dark:text-white">{{
              user()?.name
            }}</span>
            <span
              class="block text-sm text-gray-500 truncate dark:text-gray-400"
              >{{ user()?.email }}</span
            >
          </div>
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Settings</a
              >
            </li>
            <li>
              <a
                (click)="logout()"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button class="relative px-4" (click)="ToogleSideMenu()">
      <div class="absolute -top-1 -left-1 rounded h-5 w-5 bg-black text-white">
        {{ cart().length }}
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
        />
      </svg>
    </button>
  </div>
</nav>
<!-- translate-x-full es el class de forma dinamica que se debe ajustar -->
<div
  class="fixed border-l-4 top-0 right-0 bg-red z-40 w-72 h-screen p-4 overflow-y-auto transition-transform bg-white"
  [class.translate-x-full]="hideSideMenu()"
>
  <div class="flex flex-col justify-between items-center">
    <p class="text-xl">My Cart</p>
    <button class="p-2 border rounded relative" (click)="ToogleSideMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    @for (product of cart(); track product) {
    <div class="flex flex-col justify-between items-center space-y-2 mt-2">
      <div class="flex flex-col space-x-2 items-center">
        <img class="w-20 h-20" [src]="product.images[0]" />
        <h3 class="text-md text-center font-bold">
          {{ product.price | currency : "$" : "symbol" : "1.0" }}
        </h3>
        <h4>{{ product.title }}</h4>
      </div>
    </div>
    }
    <div>
      <p
        class="text-lg text-center font-bold bg-black text-white rounded-md px-4"
      >
        Total: {{ total() | currency : "$" : "symbol" : "1.0" }}
      </p>
    </div>
  </div>
</div>
