.success-snackbar {
  background-color: #4caf50; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
}
.error-snackbar {
  background-color: #ff0234; /* Color de fondo verde */
  color: hotpink;
}
