/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* styles.css */
.success-snackbar {
  background-color: #4caf50; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
}
.error-snackbar {
  background-color: #ff0234; /* Color de fondo verde */
  color: hotpink;
}
